html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

/*
 **************************************
	HEADER
 **************************************
*/
.header {
  background-image: url(/Images/cover-team.jpg);
  padding: 150px;
  margin: 0;
}
.header h1 {
  text-align: center;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: bold;
  color: #FFF;
  font-size: 68px;
  margin-bottom: 5px;
}

.hilightred {
  background-image: linear-gradient(transparent 72%, #ff6464 62%, #ff6464 82%, transparent 82%);
}

.transarrow {
  text-align: center;
  height: 0;
  position: relative;
}

.transarrow::before {
  content: "";
  display: block;
  position: absolute;
  width: 4px;
  height: 100px;
  top: -40%;
  left: 50%;
  margin-left: -2px;
  margin-top: 80px;
  background-color: #ff6464;
}

div.transarrow::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  width: 16px;
  height: 16px;
  margin-left: -8px;
  margin-top: 165px;
  border-left: 4px solid #ff6464;
  border-bottom: 4px solid #ff6464;
  transform: rotate(-45deg);
}

/*
 **************************************
	MENU
 **************************************
*/
.menu__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-basis: 100%;
  flex-shrink: 0;
  flex-grow: 1;
  margin-top: -100px;
  margin-bottom: 100px;
}
.menu__item {
  margin: 10px;
  padding: 0;
}
.menu__link {
  display: block;
  padding: 5px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}
.menu__link:hover {
  border-bottom: 3px solid #ff6464;
}
@media screen and (min-width: 640px) {
  .menu__list {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-right: 20px;
    padding: 0;
  }
  .menu__item {
    margin: 0;
    padding: 0 20px;
  }
  .menu__link {
    display: block;
    padding: 5px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: white;
  }
  .menu__link:hover {
    border-bottom: 3px solid #ff6464;
  }
}
@media screen and (min-width: 1100px) {
  .menu__list {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-right: -400px;
  }
  .menu__item {
    margin: 0;
    padding: 0 20px;
  }
  .menu__link {
    display: block;
    padding: 5px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: white;
  }
  .menu__link:hover {
    border-bottom: 3px solid #ff6464;
  }
}

/*
 **************************************
	FOOTER
 **************************************
*/
.footer {
  color: #b9b9b9;
  background-color: #333;
  margin: 0;
}
.footer__grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-basis: 100%;
  flex-shrink: 0;
  flex-grow: 1;
}
.footer__social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 100%;
  flex-shrink: 0;
  flex-grow: 1;
  padding-top: 10px;
}
.footer__copyright {
  margin-top: 30px;
}
@media screen and (min-width: 640px) {
  .footer__grid {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .footer__grid-column {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    flex-basis: 0;
    flex-shrink: 0;
    flex-grow: 1;
    margin-left: 20px;
  }
  .footer__social {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    flex-basis: 0;
    flex-shrink: 0;
    flex-grow: 1;
  }
  .footer__copyright {
    margin-top: 30px;
  }
}
@media screen and (min-width: 1100px) {
  .footer__grid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-basis: 0;
    flex-shrink: 0;
    flex-grow: 0;
  }
  .footer__grid-column {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 30px;
  }
  .footer__social {
    display: flex;
    flex-direction: column;
  }
  .footer__copyright {
    margin-top: 30px;
  }
}

/*
 **************************************
	ABOUT - HP
 **************************************
*/
.about {
  background-image: url(/Images/mrizka-cut.png);
}

.glide__slides img {
  width: 100%;
  height: 800px !important;
}

/*
 **************************************
	O FIRME
 **************************************
*/
.company h2 {
  text-align: center;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: bold;
  color: #333;
  font-size: 40px;
  margin: 30px 60px;
}
.company p {
  text-align: center;
  font: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 20px;
}

.article4 {
  padding: 4em;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  border-radius: 0;
  background-color: rgb(40, 40, 40);
  color: #FFF;
  color: hsl(0deg, 0%, 90%);
  margin: 20px;
}
.article4 h2 {
  color: #FFF;
}
.article4 a {
  color: #ff6464;
  padding: 10px;
}

/*
 **************************************
	OTEVENE POZICE
 **************************************
*/
.about {
  background-image: url(/Images/mrizka-cut.png);
}
.about h2 {
  text-align: center;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: bold;
  color: #333;
  font-size: 40px;
  margin: 30px 60px;
}
.about p {
  text-align: center;
  font: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 20px;
}

.positions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 0 0 1;
}

.article {
  display: block;
  text-align: center;
  padding: 1.5em;
  background-color: white;
  border-radius: 2em;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  margin: 20px;
}
.article a {
  color: #ff3333;
  text-decoration: underline;
}
.article underline {
  content: " ";
  position: absolute;
  left: 50%;
  margin-left: -25px;
  top: 0em;
  width: 50px;
  height: 5px;
  background-color: #ff0000;
}

li {
  list-style: none;
  font: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 20px;
}

.offers {
  display: block;
  text-align: center;
  padding: 1.5em;
}

.offer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*
 **************************************
	JAK FUNGUJEME
 **************************************
*/
.about {
  background-image: url(/Images/mrizka-cut.png);
}

/*
 **************************************
    KONTAKT
 **************************************
*/
.about {
  background-image: url(/Images/mrizka-cut.png);
}

/*
 **************************************
    KONTAKT - formular
 **************************************
*/
.kontaktformular {
  border: #b9b9b9 solid 3px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #333;
  border-radius: 5px;
  padding: 5px;
}

.form {
  display: block;
  margin-top: 10px;
  width: 100%;
  max-width: 400px;
  border-radius: 4px;
}
.form input,
.form textarea {
  width: 100%;
  border: #b9b9b9 solid 3px;
  border-radius: 5px;
  margin: 5px;
}

/*
 **************************************
	MAIL
 **************************************
*/
.about {
  background-image: url(/Images/mrizka-cut.png);
}/*# sourceMappingURL=style.css.map */