$cerna: #333;
$seda: #b9b9b9;
$bila:#FFF;
$cervena:#ff6464;
$font: 'Roboto', 'Helvetica', 'Arial', sans-serif;
$font-size: 16px;
$spacer: 20px;

//------------------------------------------------//

html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }







/*
 **************************************
	HEADER
 **************************************
*/
.header {
    background-image: url(/Images/cover-team.jpg);
    padding: 200px;
    margin: 0;
}

.header h1 {
    text-align: center;
    font-family: $font;
	font-weight: bold;
    color: $bila;
    font-size: 68px;
    font-weight: 700;
    margin-bottom: 50px;
}

.hilightred {
background-image: linear-gradient(transparent 72%, $cervena 62%, $cervena 82%, transparent 82%);
}

.transarrow {
    text-align: center;
    height: 0;
    position: relative;
}

.transarrow::before {
    content: "";
    display: block;
    position: absolute;
    width: 4px;
    height: 100px;
    top: -40%;
    left: 50%;
    margin-left: -2px;
    margin-top: 130px;
    background-color: $cervena;
}

div.transarrow::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    width: 16px;
    height: 16px;
    margin-left: -8px;
    margin-top: 215px;
    border-left: 4px solid $cervena;
    border-bottom: 4px solid $cervena;
    transform: rotate(-45deg);
}

/*
 **************************************
	MENU
 **************************************
*/
.menu {
    display: flex;
    flex-direction: row;
}

.menu__list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

.menu__item {
	margin: 0;
	padding: 0;
}


.menu__link {
	display: block;
	padding: 5px;
	font-family: $font;
	font-size: $font-size;
	font-weight: bold;
	text-decoration: none;
	color: white;
}

.menu__link:hover {
	border-bottom: 3px solid $cervena;
}





/*
 **************************************
	ABOUT - o nás
 **************************************
*/
.about {
    background-image: url(/Images/mrizka-cut.png);
    
}

.glide__slides img {
    width: 100%;
   height: 800px !important;
}

/*
 **************************************
	FOOTER
 **************************************
*/

.footer {
    color: $seda;
    background-color: $cerna;
    margin: 0;
}