$cerna: #333;
$seda: #b9b9b9;
$bila:#FFF;
$cervena:#ff6464;
$font: 'Roboto', 'Helvetica', 'Arial', sans-serif;
$font-size: 20px;
$spacer: 20px;


//------------------------------------------------//

html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }







/*
 **************************************
	HEADER
 **************************************
*/
.header {
    background-image: url(/Images/cover-team.jpg);
    padding: 150px;
    margin: 0;

    h1 {
        text-align: center;
        font-family: $font;
        font-weight: bold;
        color: $bila;
        font-size: 68px;
        margin-bottom: $spacer / 4; 
    }


}
 

.hilightred {
    background-image: linear-gradient(transparent 72%, $cervena 62%, $cervena 82%, transparent 82%);
      
}

.transarrow {
    text-align: center;
    height: 0;
    position: relative;
}

.transarrow::before {
    content: "";
    display: block;
    position: absolute;
    width: 4px;
    height: 100px;
    top: -40%;
    left: 50%;
    margin-left: -2px;
    margin-top: 80px;
    background-color: $cervena;
}

div.transarrow::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    width: 16px;
    height: 16px;
    margin-left: -8px;
    margin-top: 165px;
    border-left: 4px solid $cervena;
    border-bottom: 4px solid $cervena;
    transform: rotate(-45deg);
}



/*
 **************************************
	MENU
 **************************************
*/
.menu {
    
    &__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-basis: 100%;
        flex-shrink: 0;
        flex-grow: 1;
        margin-top: -100px;
        margin-bottom: 100px;
    }
    &__item {
        margin: 10px;
        padding: 0;
    }
    &__link {
        display: block;
        padding: 5px;
        font-family: $font;
        font-size: $font-size;
        font-weight: bold;
        text-decoration: none;
        color: white;
    }
    
    &__link:hover {
        border-bottom: 3px solid $cervena;
    }


    @media screen and (min-width: 640px) {

        &__list {
            display: flex;
            flex-direction: row;
            list-style: none;
            margin-right: $spacer;
            padding: 0;

        }

        &__item {
            margin: 0;
            padding: 0 $spacer;
        }
        &__link {
            display: block;
            padding: 5px;
            font-family: $font;
            font-size: $font-size;
            font-weight: bold;
            text-decoration: none;
            color: white;
        }
        
        &__link:hover {
            border-bottom: 3px solid $cervena;
        }

    }


    @media screen and (min-width: 1100px) { 

        &__list {
            display: flex;
            flex-direction: row;
            list-style: none;
            margin-right: -400px;
            

        }

        &__item {
            margin: 0;
            padding: 0 $spacer;
        }
        &__link {
            display: block;
            padding: 5px;
            font-family: $font;
            font-size: $font-size;
            font-weight: bold;
            text-decoration: none;
            color: white;
        }
        
        &__link:hover {
            border-bottom: 3px solid $cervena;
        }

    }

}



/*
 **************************************
	FOOTER
 **************************************
*/
.footer {
    color: $seda;
    background-color: $cerna;
    margin: 0;
  

  &__grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-basis: 100%;
    flex-shrink: 0;
    flex-grow: 1;
  }
  &__social {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;
    flex-shrink: 0;
    flex-grow: 1;
    padding-top: 10px;
  }

  &__copyright {
    margin-top: 30px;
   
    }


    @media screen and (min-width: 640px) {

        &__grid {
        display: flex;
        flex-direction: row;
        align-items: center;
        }

        &__grid-column {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: center;
        flex-basis: 0;
        flex-shrink: 0;
        flex-grow: 1;
        margin-left: 20px;
        }
  
        &__social {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        flex-basis: 0;
        flex-shrink: 0;
        flex-grow: 1;
        }

        &__copyright {
        margin-top: 30px;
   
        }

    }
    @media screen and (min-width: 1100px) {
  
        &__grid {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-basis: 0;
        flex-shrink: 0;
        flex-grow: 0;
        }
    
        &__grid-column {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-left: 30px;
         
          
        }
      
        &__social {
        display: flex;
        flex-direction: column;
        }
    
        &__copyright {
        margin-top: 30px;

        }

    }

}











/*
 **************************************
	ABOUT - HP
 **************************************
*/
.about {
    background-image: url(/Images/mrizka-cut.png);
    
}

.glide__slides img {
    width: 100%;
   height: 800px !important;
}

/*
 **************************************
	O FIRME
 **************************************
*/
.company {
    h2 {
        text-align: center;
        font-family: $font;
        font-weight: bold;
        color: $cerna;
        font-size: 40px;
        margin: 30px 60px; 
    
    }
    p {
        text-align: center;
        font: $font;
        font-size: $font-size;
    }
}

.article4 {
    padding: 4em;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    border-radius: 0;
    background-color: rgb(40, 40, 40);
    color: $bila;
    color: hsl(0, 0%, 90%);
    margin: $spacer;

    h2 {
        color: $bila;
    }

     
    a {
    color: $cervena;
    padding: 10px;

    }
}

/*
 **************************************
	OTEVENE POZICE
 **************************************
*/
.about {
    background-image: url(/Images/mrizka-cut.png);

    h2 {
        text-align: center;
        font-family: $font;
        font-weight: bold;
        color: $cerna;
        font-size: 40px;
        margin: 30px 60px; 
    
    }
    p {
        text-align: center;
        font: $font;
        font-size: $font-size;
    } 
}

.positions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 0 0 1;
}

.article {
    display: block;
    text-align: center;
    padding: 1.5em;
    background-color: white;
    border-radius: 2em;
    box-shadow: 0 15px 30px rgb(0 0 0 / 10%);
    margin: $spacer;
    
    

    a {
        color: #ff3333;
        text-decoration: underline;
    }

    & underline {
        content: " ";
        position: absolute;
        left: 50%;
        margin-left: -25px;
        top: 0em;
        width: 50px;
        height: 5px;
        background-color: #ff0000;
    }    

}

li {
    list-style: none;
    font: $font;
    font-size: $font-size;
}

.offers {
    display: block;
    text-align: center;
    padding: 1.5em;
}

.offer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*
 **************************************
	JAK FUNGUJEME
 **************************************
*/
.work {
    background-image: url(/Images/mrizka-cut.png);
    
    h2 {
        text-align: center;
        font-family: $font;
        font-weight: bold;
        color: $cerna;
        font-size: 40px;
        margin: 30px 60px; 
        
    }

    h3 {
        text-align: left;
        font-family: $font;
        color: $cerna;
        font-size: 30px;
        margin: 30px 60px;
    }
    p {
        font: $font;
        font-size: $font-size;
        } 

     
    }

    

    .interview {
        
        padding: 4em;
        margin-top: 2.5em;
        margin-bottom: 2.5em;
        border-radius: 0;
        background-color: rgb(40, 40, 40);
        color: $bila;
        color: hsl(0, 0%, 90%);
        margin: $spacer;

    & interview2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    h2 {
        color: $bila;
    }

     
    a {
    color: $cervena;
    padding: 10px;

    }
    }
    .interview-image {
        max-width: 100%;
        height: auto;
    }

    @media screen and (min-width: 640px) {

    }


    @media screen and (min-width: 1100px) { 

        .interview-image {
    
            /*text-align: center;
            margin: 20px auto;
            width: 75%;*/
            
            
        } 
        

    }
    

/*
 **************************************
    KONTAKT
 **************************************
*/
.about {
    background-image: url(/Images/mrizka-cut.png);
    
}
/*
 **************************************
    KONTAKT - formular
 **************************************
*/
.kontaktformular {
    border: $seda solid 3px;
    padding: $spacer / 2;
    margin-top: $spacer;
    margin-bottom: $spacer;
    color: $cerna;
    border-radius: 5px;
    padding: 5px;
}
.form {
    display: block;
    margin-top: $spacer / 2;
    width: 100%;
    max-width: 400px;
    border-radius: 4px;

    & input,
     textarea {
        width: 100%;
        border: $seda solid 3px;
        border-radius: 5px;
        margin: 5px;
        
    }
} 



/*
 **************************************
	MAIL
 **************************************
*/
.about {
    background-image: url(/Images/mrizka-cut.png);
    
}











