<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<!-- hlavička a menu -->

<header class="header">

<div>
    <a class="menu__logo" href="HP.html" >Kariérní web LQD</a>
</div>
</header>

    <nav class="menu">
		<ul class="menu__list">
			<li class="menu__item"><a href="/onas/" class="menu__link">O nás</a></li>
			<li class="menu__item"><a href="/pozice/" class="menu__link">Otevřené pozice</a></li>
			<li class="menu__item"><a href="/jakfungujeme/" class="menu__link">Jak fungujeme</a></li>
			<li class="menu__item"><a href="https://www.lqd.cz/" class="menu__link">Firemní web</a></li>
			<li class="menu__item"><a href="/kontakt/" class="menu__link">Kontakt</a></li>
		</ul>
	</nav>
    
<h1><span class="hilightred">Kariérní</span> web LQD</h1>

<div class="transarrow"></div>



<main class="main">

{{ content | safe }}

</main>

<!-- patička -->
<footer class="footer">
    <div class="footer__grid">
        <div class="footer__grid-column">
            <h2>Sídlo firmy</h2>
            <p>Liquid Design s.r.o.<br>
             Josefská 15, 602 00 Brno
            </p>
        </div>
        <div class="footer__grid-column">
            <h2>Kontakt</h2>
            <p>
                <span class="footer__title">Telefon:</span><br>
                +420 123 456 789
            </p>
            <p>
                <span class="footer__title">E-mail:</span><br>
                <a href="mailto:info@lqd.cz">info@lqd.cz</a>
            </p>
        </div>  

        <div class="box___social">

            <div>
                <a href="https://www.facebook.com/lqdcz" rel="nofollow" target="_blank" style="color:#579aff">
                <i class="fa fa-facebook-square"></i>Facebook</a>
            </div>
            <div>
                <a href="https://twitter.com/lqdcz" rel="nofollow" target="_blank" style="color:#58e0ff">
                <i class="fa fa-twitter-square"></i>Twitter</a>
            </div>
            <div>
                <a href="https://www.instagram.com/lqdcz/" rel="nofollow" target="_blank" style="color:#ffa2a2">
                <i class="fa fa-instagram"></i>Instagram</a>
            </div>
            
    </div>

    <div class="footer__copyright">
        &copy;2022, Liquid Desing s.r.o.
    </div>
</footer>

</body>
</html>

